/* fontface */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
  padding-bottom: 60px;
  font-family: 'Rubik';
  margin: 0;
  min-height: 100vh;
  background-color: black !important;
}

/* navbar animation */
.Games-nav-item {
  color: #a2ff00 !important;
}

/* carousel stylings */
._movie_poster_portrait {
  transition: all .15s ease-in-out;
}

._movie_poster_container:hover ._movie_poster_portrait {
  transform: scale(1.15) !important;
  transform-origin: 50% 50%;
}

._carousel_card:hover ._movie_title {
  padding-left: 6px;
  transition: padding-left 0.15s ease-in;
}

/* carousel card stylings */
@media only screen and (max-width: 1024px) {
  ._movie_poster_container img {
    height: 50vw !important;
  }
}

@media only screen and (max-width: 600px) {
  ._movie_poster_container img {
    height: 100% !important;
  }
}

/* movie / tv search selection stylings */
.MuiSvgIcon-root {
  color: white !important;
}

#search-type-select:focus {
  outline: none !important;
  border: none !important
}

.MuiPopover-root .MuiPaper-root {
  color: white;
  background: rgb(20, 20, 20) !important;
}

.MuiPopover-root .MuiList-root li {
  font-size: 16px !important;
  font-family: 'Rubik' !important;
}

.MuiPopover-root .MuiList-root li:hover {
  background: rgb(40, 40, 40) !important;
}