/* fontface */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
  padding-bottom: 20px;
  font-family: 'Rubik';
  margin: 0;
  min-height: 100vh;
  background-color: black !important;
  overflow-x: hidden !important;
  position: relative;
}

.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle, rgba(162, 255, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0.6) 70%),
    linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background-size: 200% 200%;
  animation: randomMovement 20s ease-in-out infinite;
  filter: blur(30px);
  opacity: .15;
}

@keyframes randomMovement {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 50% 30%;
  }

  50% {
    background-position: 100% 70%;
  }

  75% {
    background-position: 30% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/* carousel stylings */
._movie_poster_portrait {
  transition: all .15s ease-in-out;
}

._movie_poster_container:hover ._movie_poster_portrait {
  transform: scale(1.15) !important;
  transform-origin: 50% 50%;
}

._carousel_card:hover ._movie_title {
  padding-left: 6px;
  transition: padding-left 0.15s ease-in;
}

/* carousel card stylings */
@media only screen and (max-width: 1080px) {
  ._movie_poster_container img {
    height: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  ._movie_poster_container img {
    height: 100% !important;
  }
}

/* movie / tv search selection stylings */
.MuiSvgIcon-root {
  color: white !important;
}

#search-type-select:focus {
  outline: none !important;
  border: none !important
}

.MuiPopover-root .MuiPaper-root {
  color: white;
  background: rgb(20, 20, 20) !important;
}

.MuiPopover-root .MuiList-root li {
  font-size: 16px !important;
  font-family: 'Rubik' !important;
}

.MuiPopover-root .MuiList-root li:hover {
  background: rgb(40, 40, 40) !important;
}

/* movie/tv screen */
.MuiTabs-flexContainer button {
  padding: 0px !important;
}

.MuiTabs-flexContainer button:nth-of-type(2) {
  margin-left: 15px;
}

.MuiTabs-flexContainer button:nth-of-type(3) {
  margin-left: 15px;
}

.MuiTabs-flexContainer button:nth-of-type(4) {
  margin-left: 15px;
}

.movie_screen .Mui-selected {
  text-decoration: none !important;
  color: #a2ff00 !important;
  padding: 0px !important;
}

.MuiTabs-indicator {
  background-color: #a2ff00 !important;
}

.tv_screen .Mui-selected {
  text-decoration: none !important;
  color: #a2ff00 !important;
  padding: 0px !important;
}

#simple-tabpanel-0 .MuiBox-root {
  padding: 0px !important;
  margin-top: 40px;
}

#simple-tabpanel-1 .MuiBox-root {
  padding: 0px !important;
  margin-top: 40px;
}

/* search page */
.search_input {
  padding-left: 20px;
  transition: border 0.2s ease;
}

.search_button:disabled {
  background-color: #223500 !important;
  color: white !important;
}

/* games page */
.game:hover {
  border: 2px solid #a2ff00 !important;
  transition: all .15s linear;
}

/* previously watched page  */
.watch_history_wrapper .Mui-selected {
  text-decoration: none !important;
  color: #a2ff00 !important;
  padding: 0px !important;
}

.watched_movies_wrapper img {
  height: 27vw !important;
}

@media only screen and (max-width: 600px) {
  .watched_movies_wrapper img {
    height: 100% !important;
  }
}

.watched_movies_wrapper .MuiBox-root {
  margin-top: 0px !important;
}

.watch_history_wrapper .MuiBox-root {
  margin-top: 0px !important;
}

.watched_movies_wrapper {
  margin: 5px !important;
}

.search_input:focus {
  border: 1px solid rgba(162, 255, 0, .25) !important;
  outline: none !important;
}